.carousel_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 40vw;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 3rem;
}
.carousel_container:hover {
    border: 2px solid rgb(197, 197, 195);
}
.carousel_title {
    color: black;
}
.arrow_add, .arrow_remove {
    border: none;
    width: 2vw;
    height: 2vw;
    background-color: white;
}
.arrow_add:hover, .arrow_remove:hover {
    background-color: none;
}
.arrow_remove {
    transform: rotate(180deg);
}
.image_arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}