.nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    background-color:white;
    padding: 1rem;
}
.nav_text {
    font-weight:600;
    font-size: 1.4rem;
    color: black;

}